<h1 class="text-center">  <%= form_name %> products_user </h1>
<%= form_for @product_user , url: products_user_index_path ,method: (form_name.downcase == 'edit' ? 'put' : 'post') do |f| %>
  <% if @product_user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product_user.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @product_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :product_and_lab%>
      <select name="product_user[lab_id]" class="form-control" >
        <% @products_lab.each do |a| %>
          <option value="<%= a.id %>"> <%= a.product.product_name %> - <%= a.lab.lab_name %></option>
        <% end %>
      </select>
    </div>
  <div class="form-group">
    <%= f.label :product_expiration_date%>
    <%= f.date_field :product_caducity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :product_quantity%>
    <%= f.text_field :product_quantity, class: "form-control" %>
  </div>
  <%= f.submit "#{form_name} product_user", class: "btn btn-primary" %>
<% end %>
