<h1 class="text-center">  <%= form_name %> product </h1>
<%= form_for @product , method: (form_name.downcase == 'edit' ? 'put' : 'post') do |f| %>
  <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group">
    <%= f.label :product_name%>
    <%= f.text_field :product_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :product_lab%>
    <select name="product[lab_id]" class="form-control" >
      <% @labs.each do |a| %>
        <option value="<%= a.id %>"> <%= a.lab_name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :product_price%>
    <%= f.text_field :product_price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :product_image%>
    <div>
        <%= f.file_field :product_image %>
    </div>
  </div>
  <%= f.submit "#{form_name} product", class: "btn btn-primary" %>
  <a href="<%= products_path %>" class="btn btn-default"> View all </a>
<% end %>
