<div class="container">
  <h1 class="text-center"> Labs </h1>
  <section class="row text-center cities-controls">
      <a href="<%= new_lab_path %>" class="btn btn-default"> New Lab </a>
  </section>
  <% @lab.each do |a| %>
    <article class="row city">
      <ul>
        <li class="col-md-2"><strong><%= a.lab_name %></strong></li>
        <li class="col-md-1"><a href="<%= lab_path(a.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
        <li class="col-md-1"><a href="<%= edit_lab_path(a.id) %>" class="btn btn-primary"> Edit </a></li>
        <li class="col-md-1"><a href="<%= lab_path(a.id) %>" class="btn btn-info"> Show </a></li>
      </ul>
    </article>
  <% end if @lab.any? %>
</div>
